---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/books.css";
---

<BaseLayout title="Декаданс Европы, Ренессанс Украины">
  <article class="book-page">
    <section class="book-hero">
      <div class="book-cover-column">
        <img
          class="book-page-cover"
          src="/images/books/Europe_Ukraine_emigration.jpg"
          alt="Декаданс Европы, Ренессанс Украины (об эмиграции в Европу)"
        />
      </div>

      <div class="book-main-column">
        <p class="book-kicker">Книга</p>
        <h1>Декаданс Европы, Ренессанс Украины</h1>
        <p class="book-subtitle">Почему украинцам почти нет смысла эмигрировать в Европу</p>

        <p class="book-meta">2022 · Русский · 256 стр.</p>

        <p class="book-lead">
          Культурологическо-психологическая книга-справочник об эмиграции в Европу
        </p>

        <div class="book-actions">
          <a class="book-action-secondary" href="https://www.amazon.com/dp/B0FG1DW7PD">
            Купить печатную версию </a> / <a class="book-action-secondary" href="">Купить электронную версию</a>
        </div>
        <div class="book-actions">
          <a class="book-action-primary" href="#">
            <p>Читать фрагмент</p>
          </a> 
        </div>
      </div>
    </section>

    <section class="section book-section">
      <h2>О книге</h2>

      <div class="book-text">
        <p>
          “Уехать или остаться?” - этот извечный вопрос время от времени задает себе 
        едва ли не каждый украинец. Судя по еще довоенным опросам, о переезде из Украины задумывался каждый третий украинец. 
        </p>

        <p>
          Лишь с 2011 по 2021-й год из Украины уехали и не вернулись 3.2 млн украинцев, тогда как в 2022-м году страну покинули еще 5 миллионов, многие из которых осели в Европе.
        </p>

        <p>
          “Раз люди уезжают, значит там хорошо!” - размышляет обыватель. Однако некоторые возвращаются. Почему же? Что движет этими безумцами? На эти вопросы в своей книге отвечает автор. Попутно развенчивая популярные мифы о Европе и вытравливая комплекс национальной неполноценности.
        </p>
      </div>
    </section>

    <section class="section book-section">
      <h2>Для кого</h2>
        <p>
        Эта книга для тех, кто хочет понять, как устроено европейское общество: какие у европейцев пенсии, зарплаты, налоги и образование, а также какие подводные камни могут ждать новоиспечённого иммигранта и стоит ли ему эмигрировать в Европу.        
        </p>
    </section>

    <section class="section book-section">

      <div class="book-text">
        <p>
          <h2>Интересные факты:</h2>
        </p>

        <ul>
          <li>Первые страницы книги были написаны 11 ноября 2018 года в Кракове, на День независимости Польши</li>
          <li>Последние страницы дописывались в марте-апреле 2022 в полуосажденном Киеве</li>
          <li>Печатная версия вышла 21 июля 2022 и продавалась в интернет-магазинах "Книгарня Є" и BALKA-BOOK</li>
          <li>В физических магазинах книга не появилась из-за политики магазинов (так как написана на русском)</li>
          <li>Электронная версия книги вышла летом 2022 и продавалась в интернет-магазине Yakaboo</li>
          <li>В марте 2023 году книга вышла в электронном виде в украинском переводе на Yakaboo</li>
          <li>В сентябре 2024 "Книгарня Є" изъяли из продаж нераспроданные остатки тиража без объяснения причин</li>
          <li>В январе 2025 электронную версию книги сняли с продаж в Yakaboo по причине русского языка</li>
          <li>В январе 2026 печатную версию книги изъяли из продаж в BALKA-BOOK </li>
          <li>Во время написания книги было использовано около полуторы сотни источников</li>
          <li>В книге используются цитаты украинского философа Сергея Дацюка</li>
          <li>Эту книгу положительно оценил известный российский писатель Александр Никонов</li>
          <li>По этой книге проводились лекции по культурологии в одном из университетов Киева</li>
          <li>Книга есть в наличии в нескольких библиотеках Украины</li>
        </ul>
      </div>
    </section>
  </article>
</BaseLayout>