---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/books.css";
---

<BaseLayout title="Джон Рупрехт 84: Цифровой тоталитаризм — Юрий Паламарчук">
  <article class="book-page">
    <section class="book-hero">
      <div class="book-cover-column">
        <img
          class="book-page-cover"
          src="/images/books/John_Ruprecht_84.png"
          alt="Джон Рупрехт 84"
        />
      </div>

      <div class="book-main-column">
        <p class="book-kicker">Книга</p>
        <h1>Джон Рупрехт 84</h1>
        <p class="book-subtitle">Цифровой тоталитаризм</p>

        <p class="book-meta">2025 · Русский · 180 стр.</p>

        <p class="book-lead">
          Полуисторический антиутопический роман о цифровом тоталитаризме, дружбе, любви и стремлении к свободе.
        </p>

        <div class="book-actions">
          <a class="book-action-secondary" href="https://www.lulu.com/shop/yurii-palamarchuk-and-yuliia-shcherbina/%D0%B4%D0%B6%D0%BE%D0%BD-%D1%80%D1%83%D0%BF%D1%80%D0%B5%D1%85%D1%82-84/paperback/product-959r8zq.html">
            Купить печатную версию </a> / <a class="book-action-secondary" href="https://play.google.com/store/books/details?id=HG1sEQAAQBAJ">Купить электронную версию</a>
        </div>

        <div class="book-actions">
          <a class="book-action-primary" href="#">
            <p>Читать фрагмент</p>
          </a> 
        </div>
      </div>
    </section>

    <section class="section book-section">
      <h2>О книге</h2>

      <div class="book-text">
        <p>
          “Уехать или остаться?” - этим вопросом задаются главные герои рассказа - программист и переводчик, волею судьбы оказавшиеся в Китае еще в студенческие годы. Китай покорил их тогда духом неизведанной свободы, пьянящим тропическим воздухом, пряным вкусом восточной кухни, безумной юношеской любовью.
        </p>

        <p>
        Но сейчас, пожив годы в китайском обществе, ощутив все прелести цифровизации и рейтинга “добропорядочного гражданина”, они поняли, что страна стала превращаться в цифровой концлагерь. За фасадом показной заботы, государство стало незаметно вплетать свои щупальца в повседневную жизнь граждан, оставляя всё меньше места личной жизни и свободе мысли. Друзья пытаются бороться с системой, но кто окажется сильнее?        
        </p>
      </div>
    </section>

    <section class="section book-section">
      <h2>Для кого</h2>
        <p>
        Эта книга для тех, кто хочет понять, как устроено китайское общество, чем живут китайцы, как они относятся к иностранцам, куда движется страна и какую в этом роль сыграет цифровизация.
        </p>
    </section>

    <section class="section book-section">

      <div class="book-text">
        <p>
          <h2>Интересные факты:</h2>
        </p>
        <ul>
          <li>В июле 2025 печатная версия книги появилась в интернет-магазине BALKA-BOOK</li>
          <li>В сентябре 2025 электронная версия книги появилась в <a href="https://play.google.com/store/books/details?id=HG1sEQAAQBAJ">Google Books</a></li>
          <li>В основе романа лежат исторические события, происходившие в Китае на рубеже 2010-х</li>
          <li>В эпизоде про передачу Гонконга Китаю в 1997 году воссоздана погода тех дней и другие детали</li>
          <li>Главные герои - реальные люди, которым посчастливилось оказаться в Китае в одно и то же время</li>
          <li>Первый экземпляр книги получил один из протагонистов романа, который проживает ныне в Гонконге</li>
          <li>В январе 2026 BALKA-BOOK изъяли из продаж печатную версию книги по причине русского языка</li>
        </ul>
      </div>

    </section>

  </article>
</BaseLayout>