---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout title="Фрагмент — Декаданс Европы, Ренессанс Украины">

<article class="fragment-page">

<a class="fragment-back" href="/books/john-ruprecht-84">← Назад к книге</a>

<header class="fragment-header">
<p class="fragment-kicker">Ознакомительный фрагмент</p>
<h1>Декаданс Европы, Ренессанс Украины</h1>
<p class="fragment-subtitle">Почему украинцам почти нет смысла эмигрировать в Европу</p>
</header>

<section class="fragment-text">
  <p>
    “Уехать или остаться?” - этот вопрос время от времени задает себе едва ли не каждый украинец.
    Эта книга адресована тем, кто сомневается - стоит ли эмигрировать в Европу.
    И всем тем, кто cмотрит на Европу сквозь розовые очки, а также не решается понять,
    что Украина - страна возможностей.
  </p>

  <h2>Содержание</h2>

  <ol class="book-toc">
    <li>Вступление</li>
    <li>Психология эмигранта</li>
    <li>Ценный опыт, я ничем не рискую, можно вернуться</li>
    <li>В Европу “ради детей”</li>
    <li>Откуда появилась идея о том, что в Европе лучше?</li>
    <li>Пенсии</li>
    <li>Дороги</li>
    <li>Парковки</li>
    <li>Зарплаты</li>
    <li>Жилье и процент ипотеки</li>
    <li>Цены на обучение для детей</li>
    <li>Бизнес</li>
    <li>Европейская медицина</li>
    <li>Освещение СМИ проблем Европы и Украины</li>
    <li>Европа переживает не лучшие времена</li>
    <li>Британский Ротэрэм и более 1400 детей - жертв насилия</li>
    <li>“Эксперимент” немцев по воспитанию бездомных детей</li>
    <li>Беженцы</li>
    <li>Окупасы (они же “сквоттеры” - захватчики жилья)</li>
    <li>Желтые жилеты</li>
    <li>Политкорректность</li>
    <li>Мультикультурализм</li>
    <li>Семейные ценности</li>
    <li>Психология европейцев</li>
    <li>Европейское “трудолюбие”</li>
    <li>Якобы европейцы “другие”</li>
    <li>Психология испанцев</li>
    <li>Женщины</li>
    <li>Девушки Испании</li>
    <li>Девушки Польши</li>
    <li>Девушки Франции</li>
    <li>Девушки Австрии</li>
    <li>Как членство в ЕС повлияет на украинские семьи</li>
    <li>Про женщин, которые рвутся на Запад</li>
    <li>Почему нашим девушкам во многом проще за границей</li>
    <li>Почему нашим парням сложнее за границей</li>
    <li>Темная сторона Европы</li>
    <li>Лицемерно-стукаческая Европа</li>
    <li>Бомжи</li>
    <li>Продавцы всякого хлама</li>
    <li>Уличные знакомства</li>
    <li>Зарегулированность всего</li>
    <li>Соседи</li>
    <li>Где заканчивается культурность европейцев</li>
    <li>Европейская “свобода”</li>
    <li>Аборты в Польше</li>
    <li>О мнимой свободе слова в Европе</li>
    <li>О криминализации фото частей тела</li>
    <li>Наркотики</li>
    <li>Фильмы онлайн и торренты</li>
    <li>Суть жизни на Западе</li>
    <li>Качество сервиса</li>
    <li>О людской теплоте</li>
    <li>Криминал</li>
    <li>Терроризм</li>
    <li>Режим работы</li>
    <li>Шоппинг</li>
    <li>Салоны красоты</li>
    <li>Спорт и уличные турнички</li>
    <li>Онлайн-банкинг</li>
    <li>Национализм</li>
    <li>Кондиционеры</li>
    <li>Образование в Европе</li>
    <li>Налоги</li>
    <li>Штрафы</li>
    <li>Сколько стоит Европа?</li>
    <li>Нидерланды</li>
    <li>Греция</li>
    <li>Brexit и Grexit (Великобритания и Греция - выход из ЕС)</li>
    <li>Frexit (Франция и выход из ЕС)</li>
    <li>Обязательства членства в ЕС</li>
    <li>Планирует ли ЕС расширяться</li>
    <li>Кризис идей у ЕС</li>
    <li>Куда движется Европа?</li>
    <li>Европа как СССР 2.0</li>
    <li>Железный занавес Европы</li>
    <li>Совместное потребление - отказ от частной собственности</li>
    <li>“Шеринг” или Коммунизм 2.0</li>
    <li>Агония Европы или Новая надежда</li>
    <li>Почему Украина выбирает Европу</li>
    <li>Украина - страна возможностей</li>
    <li>Эпилог</li>
    <li>Военное послесловие</li>
    <li>Список литературы</li>
  </ol>

  <h2>Вступление</h2>

  <p>
    Сегодня 11 ноября 2018, когда я начал эту книгу - знаменательный день.
    100 лет со дня объявления независимости Польши.
    Моя же независимость от неё начнется через 3 недели,
    когда я покину Краков, чтоб вернуться в родной Киев спустя почти 2 года на чужбине.
  </p>

  <p>
    Сколько себя помню - всегда хотел уехать из Украины.
    Всегда казалось, что Украина обречена, что будущее где-то там - за горизонтом.
    К этому располагала и моя семья, которая разъехалась по миру и конечно воспитание -
    мы росли на диснеевских англоязычных мультиках и гонконгских боевиках.
    Да и мама всё время говорила - Run, Forrest, ruuun!
  </p>

  <p>
    Во времена универа мне не удалось уехать по программе Work &amp; Travel USA,
    но зато я скопил денег и сразу после получения бакалавра в Авиационном поехал
    в тогда еще дешевый Китай. Думал, что еду на год, но оказалось - на пять.
    Там было очень интересно и комфортно и Китай стал моей второй родиной.
    Однако в конце концов я понял, что пора двигаться дальше,
    ведь при всем комфорте жизни в Китае, ты всё равно там иностранец.
    Да и китайское гражданство получить нереально
    (и смысла нет, так как китайский паспорт в мире не котируется).
  </p>

  <p>
    Вернувшись в 2013-м в Украину, мысли об эмиграции ушли на дальний план.
    Начался Майдан, в котором я принимал активное участие, и появилась новая надежда.
    Но прошло два года и я понял, что Украина не переродилась так,
    как мне бы этого хотелось и я стал вострить лыжи в Чехию.
    Однако учебную визу мне не дали. Тогда я нашел новую работу и стал ездить
    в командировки в Австрию, попутно заезжая в соседние страны,
    где суммарно прожил порядка четырех месяцев.
    Там я вкусил все те плюсы Европы, о которых вроде как мечтает рядовой украинец -
    ровные дороги, вежливые улыбки, беззаботность на лицах прохожих,
    удобный чистый транспорт и стабильность.
    Однако среди минусов, которые я уже тогда, хоть и будучи в розовых очках,
    успел увидеть - был один очень существенный - дикие цены на недвижимость
    и сложность её покупки. Услуги адвокатов, нотариусов и налог на покупку
    могли составлять до 10% стоимости жилья.
  </p>

  <p> 
    Поэтому я обратил свой взор на Польшу, где квартиры были более доступны.
    Приехав в Краков в 2017-м году, я начал интегрироваться в общество -
    активно учить польский, ходить на TED-конференции, плясать бачату с польками
    и драться с поляками на тайском боксе.
    Со своей польской девушкой я слушал олдскульный польский рок 80-х,
    а по утрам, в электричке по дороге на работу - подкасты, опять же, на польском,
    чтоб выучить язык - всё чтоб интегрироваться.
    И везде меня принимали, и никто косо не смотрел на то, что я украинец.
    Советом помогали, на вопросы по польскому языку отвечали,
    в политические тонкости посвящали.
    Казалось бы - что могло пойти не так?
    Почему спустя 20 месяцев в Кракове сначала вернулся я,
    а затем и мой друг-гитарист из нашей группы?
    И еще несколько знакомых, у которых была хорошая зарплата и отличные перспективы
    на получение Карты Поляка и польского гражданства.
    А почему другие мои знакомые, чаще женского пола, наоборот остались в Европе?
  </p>

  <p>
    Если позадавать на улице гражданам вопрос - хотите ли вы уехать,
    то часто последует утвердительный ответ.
    Судя по еще довоенной статистике, каждый третий украинец задумывается
    о том, чтобы навсегда эмигрировать из Украины.
    По данным же опроса Info Sapiens, проведенного в сентябре-октябре 2021,
    37% опрошенных хотели бы работать в Германии, 31% - в Польше, и 20% - в Чехии.
    Тема эмиграции так остро пропитала социум неспроста -
    за несколько лет после победы Майдана 2013-2014 державным мужам
    не удалось оправдать надежды народа.
    Более того, для многих граждан условия жизни стали невыносимыми.
    В воздухе запахло отчаянием
    (которое затем привело к победе на президентских выборах Владимира Зеленского).
    Но и с правлением Зеленского эмиграционные настроения остались на прежнем уровне -
    в 2021 году более 600 тысяч украинцев уехали из Украины и не вернулись.
    А те, кто не смог вырваться на “землю обетованную” - ложатся костьми,
    зарабатывают деньги и отправляют своих детей учиться в Европу.
    Им кажется, что они “спасают” своих детей, дают им шанс
    на великое и прекрасное будущее, но так ли это на самом деле?
  </p>

  <h2>Психология эмигранта</h2>

  <p>
    Помимо “будущего для детей”, зарплат и верховенства закона,
    о которых мы поговорим дальше, есть как минимум три аргумента уехать,
    которые часто приводятся сторонниками переезда:
  </p>

  <ul>
    <li>Я ничем не рискую</li>
    <li>Всегда можно вернуться</li>
    <li>Для меня это будет ценный жизненный опыт</li>
  </ul>

  <p>
    Забегая наперед, я огорчу господ оптимистов,
    так как ни один из перечисленных выше тезисов не является правдой.
    Разве что “жизненный опыт” - и то с натяжкой.
  </p>

  <p>
    “Я ничем не рискую” может позволить сказать себе 20-летний хлопец,
    который еще не начал толком работать и зарабатывать.
    Парень или девушка, у которых еще не выстроились крепкие социальные связи,
    не началось строительство карьеры и отношений с противоположным полом,
    не устаканился комфортный быт с парикмахерами, тренажерными залами,
    занятиями йогой и утренним кофе с круассаном
    в любимой кафушке с видом на Днепр.
    Поэтому в этом возрасте, когда тебя как бы ничего особо не держит на родине,
    и стоит “валить”. Ведь ничем не рискуешь. На первый взгляд.
  </p>

  <p>
    Первое время в новой стране будет “медовый месяц” -
    сознание свежеприбывшего искателя счастья быть выискивать
    лишь положительные стороны жизни.
    Все проблемы, которые доставали дома, уйдут, уступив место эйфории.
    Тут люди улыбаются! Цены стабильные! Кредиты доступные! Дороги ровные!
    Однако со временем, когда придет нужда глубже погружаться в жизнь -
    будь то сдача на права или оформление временного ВНЖ,
    наружу вылезут негативные стороны страны.
    Вас начнут напрягать не только засилье иммигрантов с Ближнего Востока,
    цены, высокие налоги и посредственная медицина, но и сущие мелочи,
    начиная от “фальшивых улыбок европейцев” и нехватки паркомест,
    и заканчивая немилозвучностью местного языка.
    Конечно, всё это можно будет перетерпеть,
    особенно если есть ради чего - например ради детей
    или красивой воображаемой картинки будущего,
    где вы - не белом коне в Европе, а из карманов штанов у вас
    торчит вожделенный паспорт страны ЕС.
    Всё это время, закусив удила, вы будете пристально следить
    за новостями из Украины, максимально фокусируясь на негативе
    (ведь что еще привлекает внимание?).
  </p>

  <p>
    К слову, когда в 2014-м году Россия напала на Украину,
    многие эмигранты, помимо высказанного в Фейсбуках дежурного ужаса,
    упоенно сглотнули слюну облегчения:
    “Вот же ж! Чуйка меня не подвела! Как в воду глядел.
    Не зря я все-таки уехал!”.
    Однако пройдут годы и окажется, что всё не так ужасно.
    И друзья, которые остались “там”, в “стране третьего мира” -
    вполне себе неплохо живут, заводят семьи, строят бизнес,
    и даже ездют на отдых за границу.
    И в один прекрасный день вы поймете, что хотите вернуться.
    Однако всё уже будет не так просто.
    Вы ведь тоже не сидели сложа руки все эти годы,
    и мало-помалу встраивались в иностранное общество,
    насколько оно позволяло.
    Тут у вас уже свой уклад жизни - секции, школы, кружки для детей,
    ипотека (вы ж планировали на всю жизнь!), авто,
    и может даже новые друзья или хотя бы приятели.
    Нужно будет продать или перевезти кучу нажитого хлама,
    решить миллион юридических и финансовых вопросов,
    объяснить всем местным корешам почему уезжаете.
    Кроме того, вам понадобится стопроцентная поддержка жены/девушки
    в вопросе переезда, а это не всегда легко,
    ведь вернуться в “страну третьего мира” - упасть в статусе,
    особенно перед подругами.
    Всё это будет требовать много сил и времени
    в обмен на возвращение “в никуда” - вроде бы и домой,
    но там всё же многое изменилось.
    Друзья порастерялись, подруги повыходили замуж,
    карьеру надо строить с нуля
    (или заморочиться переходом на аналогичную должность).
    Жить где-то надо.
    Снова привыкать к местным недостаткам вроде кислых рож продавщиц
    или ямам на дорогах.
  </p>

  <p>
    В итоге вам станет жаль потраченного времени и сил,
    потому что если посмотреть на ситуацию со стороны -
    окажется, что все ваши метания не имели никакого смысла.
    Вы не накопили денег, не построили великолепную карьеру,
    не обучились чем-то небывалому,
    чтоб по возвращению на родину сразу кататься в шелках.
    Тут как в физике: если объект вернулся в исходную точку,
    то работа A = 0 (ноль). Зеро.
    Оказалось, что все ваши затраченные усилия были напрасны.
    И лучшее, что вы можете из этого вынести -
    более глубокое удовольствие от жизни в Украине,
    смех над паникерами и зардофилами,
    и огромную благодарность судьбе,
    что родились именно в этой стране, а не в другой.
  </p>

  <p>
    Однако не все могут найти в себе силы признаться, что ошибались.
    И не все готовы рисковать хоть и плохонькой, но стабильностью,
    ради того, чтоб снова окунуться в “новую старую жизнь”.
  </p>

  <p>
    Также огромную роль в переезде играет общественное мнение.
    В нашем социуме, который пока еще не излечился полностью
    от комплекса национальной неполноценности,
    по-прежнему эмиграция означает успех.
    А если ты вернулся, то это не только значит,
    что ты не смог, не адаптировался,
    что ты неудачник и слабак,
    но и то, что тебя, вероятно,
    одолела какая-то ментальная хворь.
    Как можно в здравом уме и при непомутненном рассудке
    вернуться из Австрии или Германии?!
    - крутится в голове у рядового обывателя.
    То есть как ни крути, но тебя не поймут.
    И этот смешной, но вполне реальный страх
    опростоволоситься перед эфемерным “обществом”
    будет удерживать тебя от возвращения.
    Лишь те, кто вернулся, смогут понять тебя
    и приободрить молчаливым кивком.
  </p>

  <p>
    Поскольку,вернуться часто даже сложнее, чем уехать,
    большинство эмигрантов, которые хотели бы,
    но не могут вернуться - ломаются
    и становятся “агрессивными эмигрантами”.
    Их можно часто встретить на эмигрантских форумцах,
    где они зависают целыми сутками,
    доказывая, в первую очередь самим себе,
    что дома всё плохо и что они правильно сделали, что уехали.
    Также они всё время сидят в новостях -
    даже больше тех, кто остался в Украине.
    Однако, сами того не замечая,
    они начинают частить на родину…
    то на неделю приедут, то на две.
    А у кого позволяет работа -
    могут и на целый месяц приезжать каждый год.
    Экономически это совершенно не выгодно,
    ведь ты продолжаешь платить за аренду заграничной квартиры,
    да и билеты стоят денег, но это полбеды.
    Очевидно, что такие длительные возвращения “крадут” время
    у возможности интегрироваться-таки
    в вожделенное западное общество:
    ходить на званые обеды, устраивать вечеринки,
    участвовать в забегах, плясать на сальсе и так далее.
    Но всё это отодвигается на задний план
    перед лицом нехватки общения с родными и друзьями.
    Оказывается, сколько бы ты в Европе не зарабатывал,
    ты всё равно не сможешь купить главного -
    задушевных бесед с друзьями, объятий с родными,
    кухонных посиделок с родителями и прочие подобные драгоценные моменты.
    И видеозвонки здесь - не панацея,
    а скорее вынужденный суррогат.
    Не только вы, но и жена, дети -
    все будут неизбежно страдать,
    потому что им нужно будет социализироваться
    в другом обществе с другими ценностями,
    где им придется быть “чужими”
    или в лучшем случае носить клеймо “не такие как все”.
    Всё вышеперечисленное, как правило,
    приводит к тому, что “всегда можно вернуться”
    превращается в билет в один конец.
    И в еще один миф, что раз семья не возвращается,
    значит “там лучше”.
  </p>

  <p>
    Ну и по поводу “ценного жизненного опыта” -
    да, это будет опыт, уникальный в своем роде,
    но он дастся настолько большой ценой
    (годы жизни в чужом социуме и тысячи,
    а то и десятки тысяч долларов),
    что вы время от времени будете задавать себе вопрос -
    а стоило ли оно того?
    Пока вы там тынялись по Европам,
    друзья уже и квартирами, и семьями обзавелись,
    и соцсвязи наладили так,
    что вам к ним будет сложно или невозможно влиться обратно.
    Так в чем же “ценность” этого опыта?
    Кто-то говорит, что, мол “международный опыт пригодится в работе”.
    Дескать, после того, как вы поработали
    в условной Австрии или Польше -
    вас будут “отрывать с руками и ногами” на местном рынке.
    Однако далеко не весь опыт монетизируется.
    Знания немецкого языка, обкатанного в Австрии
    или польского, выученного в Польше -
    скорее всего окажутся совершенно нерелевантными
    вашей должности в Украине.
    То есть вам за них никто не заплатит.
    Что же касается остальных навыков и компетенций,
    то вас ведь берут на работу не для того,
    чтоб вы там “революцию” устраивали
    своими свежепривезенными из Европы идеями.
    Нет.
    Вас берут, чтоб вы работали в уже налаженной системе,
    где нужны совершенно определенные компетенции,
    которые в большинстве случаев
    не будут связаны с вашим заграничным опытом.
    Поэтому “ценный жизненный опыт”, полученный за границей,
    будет касаться в первую очередь
    переосмысления ваших ценностей,
    а также набором воспоминаний другой жизни,
    что несомненно обогатит вас как человека.
    Скорее всего, вам удастся узнать себя лучше,
    как об этом рассказывал программист Владимир:
  </p>

  <blockquote>
    <p>
      “Уже переехав, спустя несколько месяцев,
      я начал заниматься безостановочной рефлексией
      и вскрытием истинных мотивов.
      Я упустил банальнейшую догму эмиграции —
      уезжая, всегда берешь с собой себя.
      Побег из зоны комфорта не требовал таких радикальных мер.
      Эту проблему можно было решить и в Киеве.
      Но ложный тезис, овладевший моим сознанием, звучал так:
      «Переехав, твоя жизнь трансформируется в корне,
      навсегда и сама по себе».
      Однако это было не так.
      В Берлине я столкнулся с теми же внутренними пытками,
      загадками и квестами самореализации.
      Дюжину раз мне приходила в голову мысль:
      «А стоило ли эмигрировать, чтобы измениться?».
      Никто не запрещал, оставаясь в Киеве,
      внести в рутину новшества, приобретенные в Берлине.
      Но я решил вопрос радикально,
      поместив себя в незнакомую среду,
      не оставив выбора и путей для отступления.
      Еще и подверг большому стрессу свою жену.
      Можно ли было обрести то же самое,
      не покидая родины? Безусловно!
      А стал бы я? Не уверен…”
    </p>
  </blockquote>

  <p>
    Есть в смене страны еще один плюс -
    вы узнаете на своей шкуре “как делать не надо”
    и закроете наконец для себя вопрос эмиграции.
    Или по крайней мере к следующим своим идеям
    о смене страны вы станете относиться
    намного более взвешенно и рационально,
    без розовых очков.
    Но это, пожалуй, и всё.
    К слову, некоторым мудрецам хватает мозгов
    “не рыпаться” и тихонько двигаться к своим целям и в Украине.
  </p>

  <p>
    В письме XXVII Сенека писал Луцилию “О бесполезности путешествий”.
    Как в воду глядел!
  </p>

  <blockquote>
    <p>
      “Ты думаешь, что это с одним тобой так случилось,
      и удивляешься как чему-то необыкновенному,
      что тебе не удалось рассеять свою печаль
      и мрачное настроение духа долгим путешествием
      и непрерывной переменой мест.
      Но для этого надо жить с обновленной душой,
      а не под другими небесами.
      Ты можешь переплыть моря, можешь,
      как говорит Вергилий, покинуть и земли, и грады…
      но страсти твои последуют за тобою,
      куда ты ни пойдешь.
      Сократ на жалобы, подобные твоим, отвечал:
      «Чему ты дивишься, что путешествия тебе не помогли?
      Ведь повсюду ты возил за собою себя самого.
      И во время пути угнетали тебя те самые причины,
      из-за которых ты отправился в путешествие».
      Какое облегчение может дать перемена места
      и знакомство с новыми городами и местами?
      Подобные скитания совершенно бесполезны,
      хотя бы уже потому, что ты странствуешь сам с собою.
      Сбрось сначала бремя своей души,
      и тогда ты найдешь прекрасным всякое место”
    </p>
  </blockquote>

  <h2>В Европу “ради детей”</h2>

  <p>
    Есть огромная ирония в том, что у нас принято уезжать “ради детей”,
    но в итоге им таким образом зачастую оказывается медвежья услуга.
  </p>

  <p>
    Во-первых, это ведь Украина делает людей сильными,
    умеющими выживать и образованными настолько,
    что они способны уехать за границу.
    Именно в Украине еще до недавнего времени
    можно было получить неплохое и практически бесплатное
    высшее образование, позволяющего пройти
    через все фильтры заграничных консульств,
    которые не дают рабочие визы кому попало,
    и устроиться в иностранные компании,
    доказав своё превосходство перед аборигенами.
    Где гарантии, что живущий в тепличных условиях ребенок
    станет таким же приспосабливаемым и образованным, как вы?
    (про образование в Европе мы поговорим дальше).
    Пример из жизни друга - его ребенок жил в США,
    привык к их максимально безопасным детским площадкам,
    приехал в Украину, залез на нашу горку,
    сунул палец не туда и в итоге пришлось делать операцию,
    чтоб спасти палец.
    Мораль: если уж ребенок растет в тепличных условиях,
    не стоит ему соваться в нетепличные,
    иначе это может плохо закончиться.
    То же относится и ко взрослым.
    То есть. Выращенному в тепличных условиях человеку
    уже небезопасно соваться в другие страны
    или иметь дело с их гражданами.
    Но это мы уже немного отошли от темы.
  </p>

  <p>
    Во-вторых, “ради детей” бывает нескольких типов:
  </p>

  <ul>
    <li>В Европе безопасно</li>
    <li>В Европе больше возможностей</li>
    <li>В Европе более счастливая жизнь</li>
  </ul>

  <p>
    По поводу безопасности вопрос спорный.
    Если речь идет о Дании, то может быть там и правда безопаснее для детей.
    Как говорил вернувшийся из Дании программист Александр Скакунов:
  </p>

  <blockquote>
    <p>
      “Ты не боишься полиции.
      Ты не боишься, что какой-то отморозок за рулем
      собьет твоего малого на велосипеде,
      поэтому ты спокойно отпускаешь 9-летнего ребенка
      доехать вдоль трассы на велосипеде в школу.
      За четыре года мы ни разу не слышали звука
      не то что экстренного торможения – даже гудка на светофоре.
      Бритые наголо парни спокойно подскажут дорогу
      и даже загуглят для тебя адрес со своего айфона.”
    </p>
  </blockquote>

  <p>
    Однако если речь идет о Париже,
    то он явно опаснее Киева -
    хотя бы потому, что в Париже есть районы,
    куда “не стоит соваться”,
    и куда даже полиция неохотно заезжает.
    В Киеве таких районов нет.
  </p>

  <p>
    Если же мы говорим о Европе,
    то в целом - везде опасно,
    где есть беженцы с Ближнего Востока.
    Будь то Бонн, где подростки-мигранты
    систематически нападали на гимназистов,
    либо Эссен, Мюнхен или Берлин,
    где есть районы, в которых особенно много мусульманских мигрантов,
    и где даже от девушки турецкого происхождения можно услышать:
    «Господин бургомистр, когда стемнеет,
    я уже не еду по Зонненаллее: боюсь арабов».
  </p>

  <p>
    Про возможности мы поговорим позже,
    потому как это тема большая,
    поэтому сразу перейдем к счастью.
    Проблема в том,
    что родители думают,
    что знают что нужно для детского счастья.
    И также они уверены,
    что детское счастье приведет к счастью взрослому.
    Например: вот у меня в детстве не было машинок,
    а у моего ребенка будут.
    У меня не было велосипеда,
    а у моего ребенка будет.
    У меня не было вкусных шоколадок,
    а своему ребенку я их буду покупать каждый раз как он попросит.
    У меня были ушатанные качели и ржавые горки,
    зато у моего ребенка будут модные пластиковые горки
    и мягкая резина вместо асфальта.
    Я всё детство проездил в грязных дырявых троллейбусах,
    а зато ребенка буду возить исключительно в автомобиле.
    Вот мне приходилось работать,
    чтоб были деньги на карманные расходы,
    а своему ребенку я буду и так давать деньги,
    сколько ему будет нужно.
    И так далее.
    Казалось бы - что может пойти не так?
    Но благими намерениями известно куда вымощена дорога.
  </p>
</section>







<section class="fragment-actions">

        <div class="book-actions">
          <a class="book-action-secondary" href="https://www.amazon.com/dp/B0FG1DW7PD">
            Купить печатную версию </a> / <a class="book-action-secondary" href="">Купить электронную версию</a>
        </div>

</section>

<div class="fragment-bottom-back">
<a class="fragment-back" href="/books/european-decadence">← Назад к книге</a>
</div>

</article>

</BaseLayout>
